/*------------------- App -------------------- */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 48px;
  font-style: oblique;
  margin-bottom: 15px;
}

/*------------------- Header/Footer -------------------- */

nav.header-container, div.footer  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  color: #DDD4BC;
  background: #627C6D;
}

/*------------------- Header/Footer -------------------- */

div.main {
  color: #8A7E5D;
  background-color: #D4E7DC;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*------------------- Quick Links -------------------- */

div.quickLink {
  padding: .5rem;
}

a.link {
  margin: .5rem;
  background-color: #D4E7DC;
  border-color: #D4E7DC;
}

a.link:link {
  color:#DDD4BC;
  text-decoration: none;
}

a.link:visited {
  color:#DDD4BC;
  text-decoration: none;
}

a.link:hover {
  color:#DDD4BC;
  background: rgb(146, 194, 166);
  font-weight: bold;
}

a.link:active {
  color:#DDD4BC;
  font-style: italic;
}
