/*---------------------------------------- App ---------------------------------------- */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-style: oblique;
  margin-bottom: 15px;
}

h3.contact-title {
  text-align: center;
  font-size: 26px;
  font-style: oblique;
}

/*---------------------------------------- Header/Footer ---------------------------------------- */

nav.header-container, div.footer  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  color: #DDD4BC;
  background: #627C6D;
}

div.title {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

div.date {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

div.footer > div.icons > a {
  color:#DDD4BC;
}

div.footer > div.icons > a:hover {
  color:#8A7E5D;
  font-size: 24px;
}

div.footer {
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;
}

div.quickLink {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

a.link {
  padding: 5px;
  border-radius: .5rem;
  margin: .5rem;
  background-color: #D4E7DC;
  border-color: #D4E7DC;
}

a.link:link {
  color:#8A7E5D;
  text-decoration: none;
}

a.link:visited {
  color:rgb(116, 116, 116);
  font-weight: bold;
}

a.link:hover {
  color:#8A7E5D;
  background: rgb(146, 194, 166);
  font-weight: bold;
}

a.link:active {
  color:#8A7E5D;
  font-style: italic;
}

/*---------------------------------------- Main ---------------------------------------- */

div.main {
  color: #8A7E5D;
  background-color: #D4E7DC;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  border: 1px dashed #627C6D;
  width: 70%;
  height: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*---------------------------------------- About Me ---------------------------------------- */

div.about-me {
  text-align: center;
  margin: auto;
  width: 75%;
}

h3.about-me-title {
  font-size: 26px;
  font-style: oblique;
}

img.me {
  width: 65%;
  padding: 1rem;
  border-radius: 5rem;
}

/*---------------------------------------- Resume ---------------------------------------- */

h3.resume-title {
  font-size: 26px;
  font-style: oblique;
}

div.resume {
  padding-left: 5rem;
  padding-right: 5rem;
}

div.text {
  display:flex;
  justify-content: center;
  gap: 1rem;
  padding: .5rem;
}

div.react-pd__Page {
  margin-left: auto;
  margin-right: auto;
}

div.pdf {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

a.resumeDownload {
  display: flex;
  align-items: center;
  font-size: 12px;

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 5px;
  border-radius: .5rem;
  background-color: #627C6D;
  border-color: #627C6D;
  color: #DDD4BC;
}

a.resumeDownload:link {
  color:#DDD4BC;
  text-decoration: none;
}

a.resumeDownload:visited {
  color:#DDD4BC;
  font-weight: bold;
}

a.resumeDownload:hover {
  color:#DDD4BC;
  background: rgb(146, 194, 166);
  font-weight: bold;
}

a.resumeDownload:active {
  color:#DDD4BC;
  font-style: italic;
}

/*---------------------------------------- Projects ---------------------------------------- */

div.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 2rem;
  margin-right: 2rem;
}

h3.projects-title {
  text-align: center;
  font-size: 26px;
  font-style: oblique;
}

div.project-card.card {
  width: 35%;
  padding: .5rem;
  margin: .5rem;
  border: 1rem;
}

div.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.card-img-top {
  width: 100%;
}

div.repo-buttons {
  display: flex;
  flex-wrap: wrap;
}

a.card-link {
  padding: 5px;
  border-radius: .5rem;
  margin: .5rem;
  background-color: #627C6D;
  border-color: #627C6D;
  color: #DDD4BC;
}

a.card-link:link {
  color:#DDD4BC;
  text-decoration: none;
}

a.card-link:visited {
  color:#DDD4BC;
  font-weight: bold;
}

a.card-link:hover {
  color:#DDD4BC;
  background: rgb(146, 194, 166);
  font-weight: bold;
}

a.card-link:active {
  color:#DDD4BC;
  font-style: italic;
}

/*---------------------------------------- Contact ---------------------------------------- */

div.contact-methods {
  text-align: center;
  margin: auto;
}

a {
  color: #8A7E5D;
}

a:link {
  color:#8A7E5D;
  text-decoration: none;
}

a:visited {
  color:#8A7E5D;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  border-radius: .25rem;
}

a:active {
  color:#8A7E5D;
  font-style: italic;
}

/*---------------------------------------- Media Query ---------------------------------------- */

@media only screen and (max-width: 650px) {
  div.pdf, hr.pdf-hr {
      display: none;
  }
}
