/*------------------- App -------------------- */

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 48px;
  font-style: oblique;
  margin-bottom: 15px;
}

/*------------------- Header/Footer -------------------- */

nav.header-container, div.footer  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  color: #DDD4BC;
  background: #627C6D;
}

/*------------------- Main -------------------- */

div.main {
  color: #8A7E5D;
  background-color: #D4E7DC;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*------------------- About Me -------------------- */

div.about-me {
  padding-left: 5rem;
  padding-right: 5rem;
}

h3.about-me-title {
  font-size: 26px;
  font-style: oblique;
}

/*------------------- Resume -------------------- */

div.resume {
  padding-left: 5rem;
  padding-right: 5rem;
}

div.text {
  display:flex;
  gap: 1rem;
  padding: .5rem;
}

a.resumeDownload {
  display: flex;
  align-items: center;
  font-size: 12px;

  margin: .5rem;
  padding: 5px;
  border-radius: .5rem;
  background-color: #627C6D;
  border-color: #627C6D;
  color: #DDD4BC;
}

a.resumeDownload:link {
  color:#DDD4BC;
  text-decoration: none;
}

a.resumeDownload:visited {
  color:#DDD4BC;
  font-weight: bold;
}

a.resumeDownload:hover {
  color:#DDD4BC;
  background: rgb(146, 194, 166);
  font-weight: bold;
}

a.resumeDownload:active {
  color:#DDD4BC;
  font-style: italic;
}

/*------------------- Quick Links -------------------- */

div.quickLink {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem;
}

a.link {
  padding: 5px;
  border-radius: .5rem;
  margin: .5rem;
  background-color: #D4E7DC;
  border-color: #D4E7DC;
}

a.link:link {
  color:#8A7E5D;
  text-decoration: none;
}

a.link:visited {
  color:rgb(116, 116, 116);
  font-weight: bold;
}

a.link:hover {
  color:#8A7E5D;
  background: rgb(146, 194, 166);
  font-weight: bold;
}

a.link:active {
  color:#8A7E5D;
  font-style: italic;
}
